<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "phdvirtual.ocadoacai.rn"
		versionCode="10"
		version   = "1.2.5">
		<name>Oca do Açaí</name>
		<description> O melhor Açaí do Rio Grande do Norte.</description>

		<author href="http://phdvirtual.com.br" email="app@phdvirtual.com.br"> Phd Virtual </author>

    <preference name="phonegap-version"           value="3.5.0" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

		<gap:platform name="android" />

		<feature name="http://api.phonegap.com/1.0/network"/>
		<feature name="http://api.phonegap.com/1.0/geolocation"/>

		<gap:plugin name="org.apache.cordova.network-information"  />
		<gap:plugin name="org.apache.cordova.geolocation"  />
		<gap:plugin name="org.apache.cordova.splashscreen"  />

    <icon src="www/res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
		<icon src="www/res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
		<icon src="www/res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
		<icon src="www/res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
		<icon src="www/res/icon/android/icon-72-hdpi.png" />

    <gap:splash src="www/res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="www/res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="www/res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="www/res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
		<gap:splash src="www/res/screen/android/screen-xhdpi-landscape.png" gap:platform="android" gap:density="xxhdpi" />
    <gap:splash src="www/res/screen.png" />

    <icon src="res/icon.png" gap:role="default" />
		<access origin="*" />
	</widget>
