<?xml version='1.0' encoding='utf-8'?>
<widget id="phdvirtual.ocadoacai" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Oca do Açaí</name>
    <description>
        O melhor Açaí do Rio Grande do Norte.
    </description>
    <author email="app@phdvirtual.com.br" href="http://phdvirtual.com.br">
        Phd Virtual
    </author>

    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="3" />
    <preference name="android-installLocation" value="auto" />

    <gap:plugin name="org.apache.cordova.console" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
    <gap:plugin name="org.apache.cordova.globalization" version="0.2.6" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.media-capture" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />

    <icon src="www/icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/drawable-ldpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/drawable-mdpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/drawable-hdpi/icon.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/drawable-xdpi/icon.png" />

    <feature name="SplashScreen">
      <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>

    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/drawable-ldpi/screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/drawable-mdpi/screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/drawable-hdpi/screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/drawable-xhdpi/screen.png" />


    <access origin="*" />
</widget>
